[user]
  email = regzok@gmail.com
  name = Max Gorin
[push]
  default = current
[pull]
  rebase = true
[fetch]
  prune = true
[diff]
  colorMoved = zebra
[core]
  excludesfile = /Users/mxgrn/.gitignore
	; pager = git-split-diffs --color | less -RFX
	pager = delta
  hooksPath = /Users/mxgrn/.config/git/hooks
[init]
	defaultBranch = master
[include]
  path = /Users/mxgrn/.config/delta/themes.gitconfig
[delta]
  hunk-header-style = file line-number
  features = gruvmax-fang
[pack]
	window = 1
