[user]
  email = regzok@gmail.com
  name = Max Gorin
[push]
  default = current
[pull]
  rebase = true
[fetch]
  prune = true
[diff]
  colorMoved = zebra
[core]
  excludesfile = /Users/mxgrn/.gitignore
	pager = delta
[init]
	defaultBranch = master
[include]
  path = /Users/mxgrn/.config/delta/themes.gitconfig
[delta]
  features = gruvmax-fang
[pack]
	window = 1
